@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    /* overflow-x: hidden; */
    position: relative;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --poppins-bold: Poppins-Bold;
    --white-color: #ffffff;
    --inter-font: "Inter", sans-serif;
    --dark-color: #181C28;
    --blue-color: #00BBFF;
    --gray-color: #d7d7d7;
}

.hero-section {
    background: linear-gradient(#181c28a1, #181c28b9), url('../assets/fd8d701026f631a9f6a0f6bf80b7c24fad2fe902.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar-icons {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.main-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    max-width: 1440px;
    width: 100%;
    padding: 0 80px;
    display: flex;
    align-items: center;
    gap: 100px;
    height: 120px;
    margin: 0 auto;
}

.navbar-logo img {
    height: 52px;
}

.icon-item a {
    width: 79px;
    height: 79px;
    display: block;
    padding: 21px 20px;
    background: #000000be;
    transition: all .1s linear;
    cursor: pointer;
}

.icon-item a:hover {
    background: var(--blue-color);
}

.icon-item a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.icon-list {
    display: flex;
    align-items: center;
    gap: 13px;
    list-style: none;
}



.hero-logo img {
    width: 146px;
    filter: drop-shadow(0px 10px 10px #181C28);
}

.hero-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-heading {
    font-size: 128px;
    font-family: var(--poppins-bold);
    font-weight: 800;
    color: var(--white-color);
}

#text1 {
    text-shadow: 0px 10px 10px #181C28;
}

#text2 {
    text-shadow: 0px -10px 10px #181C28;
}

.hero-title-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 26px;
}

.hero-subtitle {
    font-size: 32px;
    font-family: var(--inter-font);
    color: var(--white-color);
}

.helpers-title {
    font-family: var(--inter-font);
    font-weight: 700;
    color: var(--white-color);
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
}

.logo-list img {
    width: 67px;
    height: 67px;
    object-fit: contain;
}

.logo-list {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 23px;
}



.helpers-logos {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.logo-list {
    display: inline-block;
    white-space: nowrap;
}

.logo-list img {
    width: 67px;
    height: 67px;
    margin-right: 20px;
    display: inline-block;
    object-fit: contain;
}

.helpers-logos {
    width: 100%;
    margin: 0 auto;
}

.hero-right,
.hero-left {
    width: 100%;
}

.hero-left {
    max-width: 545px;
}

.hero-right img {
    width: 100%;
}

.highlight {
    color: var(--blue-color);
}

main {
    background: var(--dark-color);
}

.about-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 80px;
}

.about-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.section-title {
    font-size: 48px;
    color: var(--white-color);
    font-family: var(--poppins-bold);
    font-weight: 700;
}

.about-heading {
    display: flex;
    align-items: center;
    gap: 26px;
}

.about-icon img {
    width: 34px;
    display: block;
}

.about-description {
    font-family: var(--inter-font);
    font-weight: 400;
    font-size: 26px;
    color: var(--gray-color);
    margin-top: 26px;
}

.about-description b {
    color: var(--white-color);
}

.about-image img {
    width: 100%;
}

.about-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    margin-top: 70px;
}

.wave-logo img,
.wave-image img {
    width: 200px;
}

.testimonial-description {
    font-size: 26px;
    font-weight: 600;
    font-family: var(--inter-font);
    background: linear-gradient(45deg,
            #ffffff 0%,
            #999999 29%,
            #ffffff 72%,
            #999999 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.testimonial-title {
    font-size: 26px;
    font-weight: 600;
    font-family: var(--inter-font);
    color: var(--white-color);
    text-align: center;
    margin-bottom: 10px;
}

.testimonial {
    align-content: center;
}

.stats-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
}

.stat-number {
    font-size: 90px;
    font-family: var(--poppins-bold);
    font-weight: 700;
    color: var(--white-color);
    text-align: center;
    height: 136px;
    white-space: nowrap;
}

.stat-label {
    font-family: var(--inter-font);
    font-size: 36px;
    font-weight: 700;
    color: var(--white-color);
    text-align: center;
}

/* .gallery-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
} */

.gallery-image {
    width: 100%;
    cursor: zoom-in;
}

/* Modal style */
.modal {
    display: none;
    /* Initially hidden */
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-content {
    max-width: 90%;
    width: 75%;
    max-height: 90%;
    /* transform: scale(1.5); */
    /* height: 100%; */
    transition: transform 0.5s ease;
    cursor: zoom-out;
}

.click__more {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    margin: 0 auto;
    background: var(--blue-color);
    padding: 10px 40px;
    border-radius: 50px;
    font-size: 36px;
    font-family: var(--poppins-bold);
    font-weight: 700;
    color: var(--white-color);
    text-decoration: none;
    margin-top: 30px;
}

.click__more img {
    display: block;
    width: 25px;
    height: 50px;
    object-fit: contain;
}


.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.faq-item.active .faq-answer {
    max-height: 500px;
    /* Adjust according to content */
}

.faq-question {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question img {
    transition: transform 0.3s ease;
    width: 20px;
    transform: rotate(180deg);
}

.faq-item.active .faq-question img {
    transform: rotate(0);
    /* Rotate icon when open */
}

.faq-title img {
    width: 50px;
}

.faq-title {
    font-size: 48px;
    font-family: var(--poppins-bold);
    font-weight: 700;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.faq-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.faq-question {
    padding: 25px 55px;
    background: var(--blue-color);
    color: var(--white-color);
    font-family: var(--poppins-bold);
    font-size: 32px;
}

.faq-answer p {
    font-size: 32px;
    font-family: var(--inter-font);
    color: var(--white-color);
    font-weight: 500;
    padding: 30px;
}

.faq-description {
    font-size: 24px;
    font-family: var(--inter-font);
    font-weight: 600;
    color: var(--white-color);
    text-align: center;
    margin-top: 12px;
}

.faq-header {
    padding: 25px 178px;
    background: #151924;
    margin-top: 43px;
    margin-bottom: 43px;
}

.faq-answer {
    background: #151924;
}

.faq-item {
    margin-bottom: 15px;
}

.footer {
    background: #10416E;
    margin-top: 43px;
}

.footer-content {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 178px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-contact {
    font-family: var(--inter-font);
    color: var(--white-color);
    font-weight: 400;
}

.footer-credit {
    font-size: 24px;
    font-family: var(--inter-font);
    font-weight: 300;
    color: var(--white-color);
}

.stat-item {
    align-content: center;
}


.text {
    position: absolute;
    transform: translateY(100%);
    transition: transform 0.6s ease;
    line-height: 1;
}

.text span {
    transform: scaleY(-1);
    display: inline-block;
}

.text.active {
    transform: translateY(0%);
    opacity: 1;
}

.hero-heading {
    position: relative;
    height: 128px;
    width: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 1024px) {
    .hero-container {
        padding: 50px 40px;
        padding-top: 120px;
    }

    .hero-left {
        max-width: 508px;
    }

    .hero-heading {
        font-size: 110px;
        height: 110px;
    }

    .hero-logo img {
        width: 130px;
    }

    .section-title {
        font-size: 35px;
    }

    .about-icon img {
        width: 25px;
    }

    .about-heading {
        gap: 10px;
    }

    .about-description {
        font-size: 20px;
        line-height: 1.3;
        margin-top: 15px;
    }

    .about-bottom {
        padding: 0;
    }

    .wave-logo img,
    .wave-image img {
        width: 125px;
    }

    .stat-number {
        font-size: 50px;
        height: 76px;
    }

    .stat-label {
        font-size: 20px;
    }

    .click__more {
        font-size: 25px;
        padding: 10px 30px;
    }

    .click__more img {
        width: 20px;
        height: auto;
    }

    .faq-question {
        font-size: 22px;
    }

    .faq-answer p {
        font-size: 22px;
        line-height: 1.3;
    }

    .faq-title {
        font-size: 35px;
    }

    .faq-title img {
        width: 30px;
    }

    .faq-description {
        font-size: 20px;
    }

    .testimonial-description,
    .testimonial-title {
        font-size: 20px;
    }

    .navbar {
        padding: 0 40px;
    }

    .icon-item a {
        width: 65px;
        height: 65px;
        padding: 18px 17px;
    }

    .footer-credit {
        font-size: 20px;
    }

    .navbar-logo img {
        height: 40px;
    }
}


@media only screen and (max-width: 900px) {
    /* .navbar-icons {
        position: fixed;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    } */

    .navbar-logo {
        display: none;
    }

    .navbar {
        justify-content: center;
    }

    .hero-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero-right img {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        display: block;
    }

    .footer-content {
        padding: 10px 40px;
    }

    .about-top {
        grid-template-columns: repeat(1, 1fr);
        gap: 33px;
    }

    .faq-question {
        padding: 19px 40px;
    }


    .about-container {
        padding: 50px 40px;
    }

    .hero-right {
        position: absolute;
        bottom: 0;
        z-index: 4;
    }

    .hero-container {
        position: relative;
    }

    .hero-container {
        padding-top: 150px;
    }

    .hero-left {
        position: relative;
        z-index: 5;
    }

    .hero-subtitle {
        opacity: 90%;
    }

    .navbar-logo {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-logo img {
        height: 30px;
    }

    .hero-heading {
        font-size: 60px;
        height: 60px;
        max-width: 180px;
        width: 100%;
    }

    .hero-logo img {
        width: 60px;
    }

    .faq-header {
        padding: 25px 40px;
    }

    .stat-number {
        font-size: 35px;
        height: 53px;
    }

    .hero-title-wrapper {
        justify-content: center;
    }

    .hero-subtitle {
        text-align: center;
    }

    .logo-list img {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .hero-subtitle {
        font-size: 25px;
    }

    .footer-content {
        flex-direction: column;
        gap: 10px;
    }

    .footer-credit {
        font-size: 14px;
    }

    .faq-question {
        padding: 19px 25px;
    }

    .faq-question {
        font-size: 18px;
    }

    .faq-answer p {
        font-size: 18px;
        line-height: 1.5;
    }

    .faq-header {
        padding: 25px 25px;
    }

    .about-container {
        padding: 50px 25px;
    }

    .hero-container {
        padding: 50px 25px;
        padding-top: 110px;
    }

    .navbar {
        padding: 0 25px;
    }

    .stat-label {
        font-size: 18px;
    }

    .about-bottom {
        flex-direction: column;
        gap: 20px;
    }

    .stats-section {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .wave-logo {
        display: none;
    }

}

@media only screen and (max-width: 425px) {
    .logo-list img {
        width: 50px;
        height: 50px;
    }

    .helpers-title {
        margin-top: 30px;
    }

    .icon-item a {
        width: 55px;
        height: 55px;
        padding: 15px 10px;
    }

    .navbar {
        height: 90px;
    }

    .hero-container {
        padding: 50px 25px;
        padding-top: 150px;
    }

    .hero-title-wrapper {
        justify-content: center;
    }

    .hero-subtitle {
        text-align: center;
    }
}